*{
  margin: 10px;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div{
  text-align: center;
}

.w3{
 width: 15%; 
 margin: 10px 50px 0 50px;
}

#main{
  background-color: #c2e6f4;
  padding: 30px;
  margin-top: 20px;
}

#main > p{
  padding: 20px;
}

button{
  background-color: #f37474;
  color: white;
  padding: 20px;
  width: 25%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

#colors > div{
  padding: 20px;
  color: white;
  margin: 0;
}

input{
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

footer{
  text-align: left;
}

#sensei{
  border-radius: 50%;
  width: 20%;
}

#skills{
  text-align: left;
  display: flex;
  margin-top: 20px;
}

#skills > p{
  background-color: #2acfcf;
  color: white;
  padding: 10px;
  border-radius: 15%;
}