body{
    background-color: #ffc8dd;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif; 
}

.index{
    margin-top:20%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size:2em;
    font-weight: bold;
}

a{
    text-decoration: none;
    padding: 10px;
    color: #006d77;
    transition: transform .2s;
}

a:hover{
    transform: scale(1.1);
}

.header{
    background-color: #ffafcc;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 1px #b5179e solid;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align:center;
    width: 100%;
    background-color: #ffafcc;
    margin: 0;
    height: 2em;
    padding-top: 10px;
    border-top: 1px #b5179e solid;
}

.data{
    text-align: center;
    
}

.countrySub{
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3em;
}

.bar{
    height: 2em;
}

.tiles{
    margin: 5em 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: white;
    text-align: center;
}

.subTile{
    border: 1px solid white;
    padding: 18px;
}